html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.el-breadcrumb__inner {
    font-size: 14px!important;
}

.el-table {
    width: 1200px!important;
}

.el-footer {
    height: 80px!important;
}